<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Copy of ChapterFivePartTwo/src/com/techlabs/chapterfive/parttwo/FindInstrument.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.techlabs.chapterfive.parttwo.FindInstrument"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Copy of ChapterFivePartTwo"/>
</launchConfiguration>
